#body {
	height:100%;
}

#body div {
	background-color: rgba(150,190,180,0.271);
	margin: auto;
}

#view-vitrines-title-text {
	font-size: 2.71em;
	font-weight: bold;
}

#img-new-vitrines {
	position: relative;
	width: 69px;
	height: 69px;
	padding-bottom: 1px;
}

#new-vitrines-message {
	vertical-align: middle;
	font-size: 1.69em;
    font-weight: bold;
    padding: 10px 10px;
}

#view-vitrines-nouvelle-vitrine {
	display: table;
	padding: 25px;
}

#img-new-vitrines > img {
	width: 100%;
	height: auto;
}

.table-cell {
	display: table-cell;
}

.vitrine-summary-header {
	display: flex;
    text-align: center;
    font-weight: bold;
    margin: auto auto;
}

.vitrine-summary {
	display: flex;
	text-align: center;
	margin: auto auto;
	font-weight: bold;
	font-size: 16px;
}

.vitrine-summary > div {
	flex-grow: 1;
}

.vitrine-summary-lastEdited {
	width: 80px;
}

.vitrine-summary-dateAdded {
	width: 80px;
}

.vitrine-summary-title {
	width: 65%
}

.vitrine-summary-toolbox {
	width: 207px;
	display: table;
}

.vitrine-table-row {
	display: table-row;
}

.vitrine-table-cell {
	display: table-cell;
	padding-left: 10px;
	padding-right: 2%;
	vertical-align: middle;
}

#new-vitrine-div {
	display: inline;
	margin-left: 25px;
}

.img-toolbox {
    display: table-cell;
}

.img-toolbox > img {
	width: 69px;
    height: 69px;
	height: auto;
}

.vitrine-element {
	height: auto;
	vertical-align: middle;
	padding-top: 12px;
}

.new-vitrine-name {
	width: 400px;
}

#empty-vitrines {
	font-size: 1.69em;
    font-weight: bold;
    padding: 40px 100px;
}

.inline-form {
	display: inline !important;
}

.container {
	display: table-row;
}

#view-vitrines-vitrines {
	position: relative;
}

#edit-vitrine {
	width: 486px;
	height: 300px;
    margin: auto;
    position: absolute;
    z-index: 1000;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color: rgba(5,7,11,666) !important;
}

.edit-vitrine-title {
	position: relative;
	font-size: 24px;
	font-weight: bold;
	color: rgb(255,255,255);
	padding-top: 45px; padding-left: 25px; padding-bottom: 25px;
}

#form-edit-vitrine {
	position: relative;
}

#nouveau-titre {
	padding-top: 25px; padding-left: 25px;
}

#apply-change {
	padding-top: auto; padding-left: 25px;
}
