<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app PUBLIC
          "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
          "http://svn.apache.org/repos/asf/beehive/trunk/netui/external/struts/web-app_2_3.dtd">
          
<web-app>
<!--                                            -->
<!--            SERVLET DEFINITIONS             -->
<!--                                            -->
  <servlet>
    <servlet-name>applicationConfiguratorServlet</servlet-name>
    <servlet-class>ca.qc.collegeahuntsic.weblab6.servlet.startup.ApplicationConfiguratorServlet</servlet-class>
    <init-param>
      <param-name>applicationConfigurator</param-name>
      <param-value>conf/applicationConfigurator</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
<!--                                            -->
<!--             SERVLET MAPPINGS               -->
<!--                                            -->
  

  
<!--                                            -->
<!--             SETTINGS SERVEUR               -->
<!--                                            -->
  <display-name>web lab 6 - front-end</display-name>
  
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
<!--                                            -->
<!--            TAG LIB DEFINITION              -->
<!--                                            -->
  <taglib>
    <taglib-uri>application-config</taglib-uri>
    <taglib-location>/WEB-INF/tld/application-config.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>application-message</taglib-uri>
    <taglib-location>/WEB-INF/tld/application-message.tld</taglib-location>
  </taglib>
  
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath*:applicationContext-JDBC.xml,
                 classpath*:applicationContext-DTO.xml,
                 classpath*:applicationContext-DAO.xml,
                 classpath*:applicationContext-Service.xml
    </param-value>
  </context-param>

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  

</web-app>