<?xml version="1.0" encoding="UTF-8"?>
  
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">

  <display-name>web lab 6 - front-end</display-name>
  
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath*:applicationContext-JDBC.xml,
                 classpath*:applicationContext-DTO.xml,
                 classpath*:applicationContext-DAO.xml,
                 classpath*:applicationContext-Service.xml
    </param-value>
  </context-param>
  
<!--                                            -->
<!--            LISTENERS MAPPING               -->
<!--                                            -->
  
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
<!--                                            -->
<!--            SERVLET DEFINITIONS             -->
<!--                                            -->
  <servlet>
    <servlet-name>applicationConfiguratorServlet</servlet-name>
    <servlet-class>ca.qc.collegeahuntsic.weblab6.servlet.startup.ApplicationConfiguratorServlet</servlet-class>
    <init-param>
      <param-name>applicationConfigurator</param-name>
      <param-value>conf/applicationConfigurator</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet>
    <servlet-name>fileUploadConfiguratorServlet</servlet-name>
    <servlet-class>ca.qc.collegeahuntsic.weblab6.servlet.startup.FileUploadConfiguratorServlet</servlet-class>
    <init-param>
      <param-name>fileUploadPath</param-name>
      <param-value>C:\Users\Charles\git\hypermedia\web lab 6 - front-end\WebContent\img\</param-value>
    </init-param>
    <init-param>
      <param-name>maxFileSize</param-name>
      <param-value>123456</param-value>
    </init-param>
    <init-param>
      <param-name>maxMemSize</param-name>
      <param-value>123456</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet>
    <servlet-name>viewLoginServlet</servlet-name>
    <servlet-class>ca.qc.collegeahuntsic.weblab6.servlet.action.ViewLoginServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>viewTemplateServlet</servlet-name>
    <servlet-class>ca.qc.collegeahuntsic.weblab6.servlet.action.ViewTemplateServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>viewFavoritesServlet</servlet-name>
    <servlet-class>ca.qc.collegeahuntsic.weblab6.servlet.action.ViewFavoritesServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>viewVitrinesServlet</servlet-name>
    <servlet-class>ca.qc.collegeahuntsic.weblab6.servlet.action.ViewVitrinesServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>viewMarchandsServlet</servlet-name>
    <servlet-class>ca.qc.collegeahuntsic.weblab6.servlet.action.ViewMarchandsServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>viewMembreServlet</servlet-name>
    <servlet-class>ca.qc.collegeahuntsic.weblab6.servlet.action.ViewMembreServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>viewStatistiquesServlet</servlet-name>
    <servlet-class>ca.qc.collegeahuntsic.weblab6.servlet.action.ViewStatistiquesServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>viewLigneProduitServlet</servlet-name>
    <servlet-class>ca.qc.collegeahuntsic.weblab6.servlet.action.ViewLigneProduitServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>loginMembreServlet</servlet-name>
    <servlet-class>ca.qc.collegeahuntsic.weblab6.servlet.action.LoginMembreServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>fileUploadServlet</servlet-name>
    <servlet-class>ca.qc.collegeahuntsic.weblab6.servlet.action.FileUploadServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>registerMembreServlet</servlet-name>
    <servlet-class>ca.qc.collegeahuntsic.weblab6.servlet.action.RegisterMembreServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>updateMembreServlet</servlet-name>
    <servlet-class>ca.qc.collegeahuntsic.weblab6.servlet.action.UpdateMembreServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>updateVitrineServlet</servlet-name>
    <servlet-class>ca.qc.collegeahuntsic.weblab6.servlet.action.UpdateVitrineServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>deleteVitrineServlet</servlet-name>
    <servlet-class>ca.qc.collegeahuntsic.weblab6.servlet.action.DeleteVitrineServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>createVitrineServlet</servlet-name>
    <servlet-class>ca.qc.collegeahuntsic.weblab6.servlet.action.CreateVitrineServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>deconnexionServlet</servlet-name>
    <servlet-class>ca.qc.collegeahuntsic.weblab6.servlet.action.DeconnexionServlet</servlet-class>
   </servlet>
  
<!--                                            -->
<!--             SERVLET MAPPINGS               -->
<!--                                            -->
  
  <servlet-mapping>
    <servlet-name>viewLoginServlet</servlet-name>
    <url-pattern>/viewLogin.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>viewTemplateServlet</servlet-name>
    <url-pattern>/viewTemplate.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>viewMembreServlet</servlet-name>
    <url-pattern>/viewMembre.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>viewFavoritesServlet</servlet-name>
    <url-pattern>/viewFavorites.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>viewVitrinesServlet</servlet-name>
    <url-pattern>/viewVitrines.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>viewMarchandsServlet</servlet-name>
    <url-pattern>/viewMarchands.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>viewStatistiquesServlet</servlet-name>
    <url-pattern>/viewStatistiques.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>viewLigneProduitServlet</servlet-name>
    <url-pattern>/viewLignesProduit.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>loginMembreServlet</servlet-name>
    <url-pattern>/loginMembre.do</url-pattern>
  </servlet-mapping>
  
    <servlet-mapping>
    <servlet-name>fileUploadServlet</servlet-name>
    <url-pattern>/uploadFile.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>registerMembreServlet</servlet-name>
    <url-pattern>/registerMembre.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>updateMembreServlet</servlet-name>
    <url-pattern>/updateMembre.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>updateVitrineServlet</servlet-name>
    <url-pattern>/updateVitrine.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>deleteVitrineServlet</servlet-name>
    <url-pattern>/deleteVitrine.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>createVitrineServlet</servlet-name>
    <url-pattern>/createVitrine.do</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>deconnexionServlet</servlet-name>
    <url-pattern>/deconnexion.do</url-pattern>
  </servlet-mapping>
  
<!--                                            -->
<!--             SERVER SETTINGS                -->
<!--                                            -->

  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
<!--                                            -->
<!--            TAG LIB DEFINITIONS             -->
<!--                                            -->

  <jsp-config>
    <taglib>
      <taglib-uri>application-config</taglib-uri>
      <taglib-location>/WEB-INF/tld/application-config.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>application-message</taglib-uri>
      <taglib-location>/WEB-INF/tld/application-message.tld</taglib-location>
    </taglib>  
  </jsp-config>
</web-app>