<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <listener>
    <listener-class>
            ca.qc.collegeahuntsic.weblab5.listener.MagasinSessionListener
        </listener-class>
  </listener>
  <listener>
    <listener-class>
            ca.qc.collegeahuntsic.weblab5.listener.MagasinContextListener
        </listener-class>
  </listener>
  
  <context-param>
        <param-name>USERNAME</param-name>
        <param-value>scott</param-value>
  </context-param>
        
  <context-param>
        <param-name>PASSWORD</param-name>
        <param-value>tiger</param-value>
  </context-param>
        
  <context-param>
        <param-name>SERVER_TYPE</param-name>
        <param-value>distant</param-value>
  </context-param>
        
  <context-param>
        <param-name>SERVER_NAME</param-name>
        <param-value>xe</param-value>
  </context-param>
  
</web-app>